# 字节码 / 缓存
__pycache__/
*.py[cod]
*$py.class

# 虚拟环境
venv/
.venv/
env/
ENV/

# 包管理 / 构建产物
*.egg-info/
dist/
build/
*.egg
*.rar
# 测试与覆盖率
.pytest_cache/
.coverage
htmlcov/
.tox/

# IDE / 编辑器
.vscode/
.idea/
*.swp

# 环境变量与密钥(重要!)
.env
.env.local
*.pem
*.key

# 日志与临时文件
*.log
*.tmp
.DS_Store  # macOS


rag-data-toolkit/data/01_raw/html/*.html
rag-data-toolkit/data/*
# 1. 忽略 data 目录下的所有内容
rag-data-toolkit/data/**

# 2. 但把所有子目录重新放行，好让 git 能继续往里遍历
!rag-data-toolkit/data/**/

# 3. 在放行的目录里，单独保留 .gitkeep
!rag-data-toolkit/data/**/.gitkeep
1/**